docs/schemas/insert_geo_data_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="response">
    <xs:all>
      <xs:element name="responseCode">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="200"/>
            <xs:enumeration value="403"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="responseMessage" type="xs:string"/>
    </xs:all>
  </xs:element>
</xs:schema>
